*{
    box-sizing: border-box;
}
body {
    background-color: black;
}
.container {
    max-width: 90vw;
    margin: 0 auto;
}
.slides {
    display: flex;
    overflow: hidden;
}
.slide {
    width: 90vw;
    align-self: center;
}
.slide-img {
    width: 100vw;
    min-width: 100vw;
}
.text {
    color: #ffff;
    display: flex;
    overflow: hidden;
}
.wrapper {
    display: flex;
}
input[name="control"] {
    display: none;
}
.slider-controls {
    display: flex;
    margin-left: auto;
}
.slider-controls > label {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px #ffff solid;
}
